.my-custom-scrollbar {
        position: relative;
        height: 270px;
        overflow: auto;
    }
    .table-wrapper-scroll {
        display: block;
        width:100%;
        margin:auto auto;
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .my-custom-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .my-custom-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      -scrollbar-width: none;  /* Firefox */
    }
    #tracking a{
        font-size:12px;
    }
   
    .table-striped tbody tr:nth-of-type(even) {
      background-color: rgb(255,255,255);
    }
    .table-striped thead tr th {
      background-color: rgb(255,255,255);
    }